{% extends 'MyProjectMainBundle::main.html.twig' %}

{%  block title %} {{ title }} {% endblock %}

{% block body %}

        <h2>{{ body.name }}</h2>
        <p>{{ body.description }}</p>
        <p>{{ body.text }}</p>

{% endblock %}