{% extends 'MyProjectMainBundle::main.html.twig' %}

{%  block title %} {{ title }} {% endblock %}

{% block body %}
    {% for news_id in body %}
        <h2><a href="{{ path('MyProjectMainBundle_newsViewId', { 'id': news_id.id }) }}">{{ news_id.name }}</a></h2>
        <p>{{ news_id.description }}</p>
    {% endfor %}
{% endblock %}